/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #fafaf8;
}

header {
  background: #fafaf8;
}

h2 {
  padding: 20px 0;
  margin: 15px;
  margin-bottom: 20px;
  font-size: 36px;
  color: #278a71;
  background: #fafcf8;
  text-align: left;font-size: 24px;
}

a {
  color: #5e55df;
  font-size: 15px;
}

img{
    width: 100%;
    height: 100%;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 15px;
}

/* Selecting elements by ID */
#summary,
#Fig1 {
  float: left;
}

#figure {
  position: relative;
}

#summary {
  width: 80%;
}


#Fig1 {
  width: 800px;
  height: 800px;
}
